@model BudgetApp.ViewModels.BudgetViewModel;

<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>MyBudget</title>
</head>
<body>

    <div class="container">
        <div class="row mt-3">
            <div class="col-8">
                <h1>Mitt budsjett</h1>
            </div>
            <div class="col-4">
                @if (Model.Total >= 0)
                {
                    <div class="alert alert-success">
                        Overskudd: @Model.Total
                    </div>
                }
                else
                {
                    <div class="alert alert-danger">
                        Underskudd: @Model.Total
                    </div>
                }
            </div>
        </div>

        <div class="card mb-3">
            <div class="card-header">
                <h5>Legg til inntekt/utgift</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    <div class="form-group row">
                        <label for="inputName" class="col-2 col-form-label">Navn</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" name="Name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputAmount" class="col-2 col-form-label">Beløp (kr)</label>
                        <div class="col-2">
                            <input type="text" class="form-control" id="inputAmount" name="Amount">
                        </div>
                        <div class="col-4">
                            <select class="form-control" id="inputType" name="ItemType">
                                <option value="2">Inntekt</option>
                                <option value="1">Utgift</option>
                            </select>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary mb-2">Legg til</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">

        </div>
        <div class="row">
            <div class="col-12">

                <div class="card border-success mb-3">
                    <div class="card-header text-success"><h5>Inntekter</h5></div>
                    <div class="card-body text-success">
                        <ul class="list-group list-group-flush">
                            @foreach (var i in Model.Income)
                            {
                                <li class="list-group-item text-dark">
                                    <div style="float: left">
                                        @i.Name
                                    </div>
                                    <div style="float: right">
                                        @i.Amount
                                        <button onclick="deleteItem(@i.Id)" class="btn btn-danger mb-2">Slett</button>
                                    </div>
                                </li>
                            }
                        </ul>
                        <div class="card-title" style="margin-top: 2em">
                            <h5>
                                <div style="float: left">
                                    Totalt:
                                </div>
                                <div style="float: right">
                                    @Model.IncomeTotal
                                </div>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card border-danger mb-3">
                    <div class="card-header text-danger"><h5>Utgifter</h5></div>
                    <div class="card-body text-danger">
                        <ul class="list-group list-group-flush">
                            @foreach (var i in Model.Expenses)
                            {
                                <li class="list-group-item text-dark">
                                    @i.Name
                                    <div style="float: right">
                                        @i.Amount
                                        <button onclick="deleteItem(@i.Id)" class="btn btn-danger mb-2">Slett</button>
                                    </div>
                                </li>
                            }
                        </ul>
                        <div class="card-title" style="margin-top: 2em">
                            <h5>
                                <div style="float: left">
                                    Totalt:
                                </div>
                                <div style="float: right">
                                    @Model.ExpenseTotal
                                </div>
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script>

        function deleteItem(id) {
            $.ajax({
                url: '@Url.Action("Delete", "Budget")/' + id,
                type: 'POST',
                success: function (result) {
                    location.reload(true)
                }
            });
        }

    </script>
</body>
</html>